
{{ form_start(form) }}

    <div>
        {{ form_row(form.lastname) }}
    </div>

    <div>
        {{ form_row(form.firstname) }}
    </div>

    <div>
        {{ form_row(form.email) }}
    </div>

        
    <button class="btn btn-block save_btn">{{ button_label|default('Enregistrer') }}</button> 
    

{{ form_end(form) }}


