
<footer class="py-3 mt-5 text-white navbar_1 text-lg-start" style="background-color: #631091;">

    
    
    <ul class="nav justify-content-center pb-2 mb-2">
        <li><a href="{{ path('accueil') }}" class=" px-2 ">Accueil</a>&nbsp;|</li>
        <li><a href="{{ path('cgu') }}" class=" px-2 ">Conditions générales d'utilisation </a>&nbsp;|</li>
        <li><a href="{{ path('mentions_legales') }}" class=" px-2">Mentions légales</a>&nbsp;|</li>
        <li><a href="{{ path('politique_confidentialite') }}" class=" px-2 ">Politique de confidentialité</a></li>
    </ul>
  
    <div class="text-center  text-light" style="background-color: #631091;">
        <p class="text-center" >&copy; 2022 | Tous droits réservés.<a href="{{ path('accueil') }}">&nbsp;Bibliothèque Atlantide&nbsp;</a>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                    src="http://jigsaw.w3.org/css-validator/images/vcss"
                    alt="CSS Valide !" />
            </a>
        </p>
       
    </div>




    
</footer>
