{% extends 'base.html.twig' %}

{% block title %}Bibliothèque Atlantide - Modification de votre profil{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-3 mb-5">Modification de votre profil lecteur</h2>

        <div class="row">
            <div class="col-md-8 offset-md-2">
            
                <div class="card bg-light">
                    <div class="card-body">

                        {{ form_start(form) }}


                        
                            <div class="font-weight-bold">
                                {{ form_row(form.lastname) }}
                            </div>
                                
                            <div class="font-weight-bold">
                                {{ form_row(form.firstname) }}
                            </div>

                            <div class="font-weight-bold">
                                {{ form_row(form.email) }}
                            </div>

                            <p>Pour modifier votre mot de passe, cliquer sur le lien suivant et suivez les instructions.</p>

                            <div class="mt-3 mb-3 text-center">
                                <a class="btn btn-sm save_btn" href="{{ path('app_forgot_password_request') }}">Changer le mot de passe</a>
                            </div>

                            <div class="d-flex justify-content-between">
                                <button class="btn create_btn"><i class="fa fa-floppy-o mr-2"></i>{{ button_label|default('Enregistrer') }}</button>  
                                <a class=" btn show_btn" href="{{ path('profil_index') }}"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Retour au profil</a>
                            </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>

        

        
    </div>
    
{% endblock %}
