{% extends 'base.html.twig' %}

{% block title %}Bibliothèque Atlantide - Votre profil{% endblock %}

{% block body %}
    <div class="container">

        <h1>Espace adhérent(e)</h1>

        <p class="mt-5 font-weight-bold">Bonjour {{ app.user.firstname }} et bienvenue sur votre profil ! </p>

        <p>Cet espace dédié vous permet de visualiser et de gérer vos emprunts en cours.</p>
        
        <div class="row">

           
            <div class="row col-sm-4 py-3">
            

                <div class="col d-flex justify-content-center">
                    <div class="icon-square text-dark flex-shrink-0 me-3">
                        <i class="fa fa-user-circle mr-3" style="font-size:48px; color: #088383;"></i>
                
                    </div>
                    <div>
                        <h3 class="mb-3">Vos coordonnées</h3>
                        <p><span class="font-weight-bold">Nom: </span> {{ app.user.lastname }}</p>
                        <p><span class="font-weight-bold">Prénom: </span> {{ app.user.firstname }}</p>
                        <p><span class="font-weight-bold">Email: </span> {{ app.user.email }}</p>
                
                        <a class="btn btn-sm create_btn" href="{{ path('user_edit', {id: app.user.id}) }}">Modifier le profil<i class="fa fa-edit ml-2" aria-hidden="true"></i></a>
                    </div>
                </div>
                <hr class="d-sm-none">
            </div>

              
           

            <div class="col-sm-8">
               
                <h2 class=" mt-2 mb-4 color_border">Vos emprunts</h2>
            
                <p class="justify">Vous trouverez ci-dessous la liste de vos emprunts ainsi que leur statut. Les demandes d'emprunts sont à confirmer par nos bibliothécaires. Vous recevrez un email vous indiquant que l'emprunt a bien été enregistré et vous pourrez venir récupérer les ouvrages à la bibliothèque. </p>
           
                <p class="justify">Pour emprunter, il suffit de trouver votre ouvrage et de selectionner le bouton d'emprunt.</p>
                <p>Cliquez sur les flèches directionnelles pour classer les catégories selon l'ordre croissant ou décroissant.</p>
                <p class="font-weight-bold justify">Rappel : la durée d'emprunt est de 4 semaines.</p>

            </div>
        </div>
  
        <table class="table" style="background-color: #EFEFEF;" data-toggle="table" data-search="true" data-show-columns="false" data-pagination="true" data-buttons-align="left">
            <thead style="background-color: #7C2BA8;">
                <tr class="text-light">
                    <th></th>
                    <th data-sortable="true">Titre</th>
                    <th data-sortable="true">ISBN</th>
                    <th data-sortable="true">Cote</th>
                    <th data-sortable="true">Document</th>
                    <th data-sortable="true">Fin de l'emprunt</th>
                    <th data-sortable="true">Validation</th>
                   
              
                </tr>
            </thead>
            <tbody>
                {% for emprunt in empruntsByUser %}
                    <tr class="font-weight-bold"> 
                        <td> <img class="miniImage" src= "{{ absolute_url(asset('bookcover/' ~ emprunt.book.imageLivre)) }}" alt="{{'Image' ~ emprunt.book.titre }}"> </td>
                        <td> {% if emprunt.book.titre|length > 20 %}
                        {{ emprunt.book.titre|slice (0, 20) ~ "..." }}
                        {% else %}
                        {{ emprunt.book.titre }} 
                        {% endif %}</td>
                        <td>{{ emprunt.book.isbn }}</td>
                        <td>{{ emprunt.book.cote }}</td>
                        <td>{{ emprunt.book.typeDocument }}</td>
                     
                        <td>{{ emprunt.dateFin ? emprunt.dateFin|date('d-m-Y') : '' }}</td>
                        <td>{% if emprunt.validation == true %} VALIDE {% else %} NON VALIDE {% endif %}</td>
                       
               
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Pas d'emprunt trouvée</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        <h2 class="mt-4 mb-4 color_border">Vos suggestions d'achat</h2>
            
        <p class="justify">Vous trouverez ci-dessous la liste de vos suggestion d'achats.</p>

        <p>Faites une nouvelle suggestion en accèdant au formulaire ci-dessous. Toutes les rubriques doivent être complétées.</p>
        
        <div class="text-center">
            <a class="btn sm-btn create_btn mb-4" href="{{ path('suggestion_new') }}">Nouvelle suggestion<i class="fa fa-pencil ml-2"></i> </a>
        </div>
        <p>En cas de validation, vous recevrez un email de notre part et votre ouvrage sera réservé.</p>

        <p>Nous vous rappellons que nous nous réservons le droit d'accepter ou pas les documents. Vous trouverez plus de précisions dans notre rubrique <a href="{{ path('suggestion') }}">"Suggestion d'achat"</a>.</p>

        <table class="table" style="background-color: #EFEFEF;" data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true" data-buttons-align="right">
            <thead style="background-color: #7C2BA8;">
                <tr class="text-light">
                   
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Editeur</th>
                    <th>Secteur</th>
                    <th>Date de création</th>
                    <th>Réponse</th>
                  
                </tr>
            </thead>
            <tbody>
            {% for suggestion in suggestionsByUser %}
           
                <tr class="font-weight-bold"> 
                   
                    <td>{{ suggestion.titre }}</td>
                    <td>{{ suggestion.auteur }}</td>
                    <td>{{ suggestion.editeur }}</td>
                    <td>{{ suggestion.secteur }}</td>
                    <td>{{ suggestion.createdAt ? suggestion.createdAt|date('d-m-Y') : '' }}</td>
                    <td>{% if suggestion.validation == true %} ACCEPTE {% else %} REFUSE {% endif %}</td>
                    
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Pas d'enregistrements trouvés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    

    </div>
{% endblock %}
